* {
    margin: 0;
    padding: 0;
    font-family: 'proxima nova',sans-serif;
    box-sizing: border-box;
}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303321;
    position: sticky;
    top: 0px;
  }
.li1 {
    display: inline;
}
.li1 {
    float: left;
 }
.li1 a {
    display: block;
    color: white;
    text-align: right;
    padding: 6px 16px;
    text-decoration: none;
    padding-top: 30px;
   
  }
  
  .li1 a:hover:not(.active) {
    background-color: #242424;
    margin-top: 10px;
    
   }
   textarea{
     resize: none;
     opacity: 50%;
   }
   .lilog {
padding: 30px;
color: white;
   }
   .lilog a{
     color: white; 
     padding: 10px 25px;
     text-decoration: none;
   }
   .liday {
    padding: 30px;
color: white;
   }
   .liday a{
    color: white; 
    padding: 15px 35px;
    text-decoration: none;
   }
   .login {
    background-color: #03203000;
    margin-right: 50px;
    margin-top:19px;
    border: 3px solid #FFFFFF;
    height: 50px;
    box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  margin-left: -50px;

  }
  .trial {
    background-color: #032030;
    margin-top: 6px;
    margin-left: 10px;
    margin-top:20px;
    border-radius: 5px;
}
.logo {
  width: 170px;
  margin-left: 70px;
  margin-top: -30px;
}
.AA {
  margin-left: 100px;
}
header {
  background-color: #303321;
  height: 210px;
  width: 100%;
}
#contact {
    text-align: center;
    display: block;
    float: center;
color: white;
font-size: 60px;
font-family: 'proxima nova',sans-serif;
}
#pr{
    text-align: center;
    display: block;
    float: center;
  color: white;
  font-size: 16px;
  font-family: 'proxima nova',sans-serif;
}
main {
  background-color: #ffffff;
  height: 850px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  
}
main a{
  text-decoration: none;
  color: #303321;
}
.left {
background-color: rgb(255, 255, 255);
padding-left: 50px;
padding-top: 50px;
}
.right {
background-color: rgb(255, 255, 255);
padding-left: 20px;
padding-top: 50px;
}
h1 {
  color: #10E8D8;
}
h2{
  padding-top: 60px;
}
h5 {
  padding-top: 10px;
  opacity: 50%;
}

p {
  padding-top: 10px;
  padding-left: 5px;
  opacity: 80%;
}
.oussama p{
  padding-top: 40px;
  font-size: 15px;
}
img {
  width: 70px;
  padding-top: 30px;
}
input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 85%;
}
#msg {
  padding: 19px 20px;
}
input[type=submit] {
  width: 20%;
  background-color: #303321;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 350px;
}
#fa{
    float: left;
    margin-top: 35px;
}
i{
    color: #303321;
    margin-right: 15px;
    font-size: 50px;
    display: inline;
}
footer {
    background-color: #E87710;
    overflow: auto;
    color: black;
    font-weight: 300;
}

footer h3 {
    font-size: 16px;
    font-weight: lighter;
    color: black;
    margin-bottom: 8px;
}

.footer-div {
    float: left;
}

.clear-float {
    clear: both;
}


.footer-about, .footer-help, .footer-resoures, .footer-landing, .footer-commercial {
    padding: 22px;
    margin-left: 16px;
}
.footer-about {
    margin-left: 52px;
}
footer ul {
    color: white;
    margin-top: 8px;
    text-decoration: none;
    list-style: none;
}

.footer-trial {
    width: 15%;
    padding: 22px 0px 22px 22px;
    margin-left: 16px;

}

footer i {
    color: #43b0f1;
}

.footer-btn {
    background-color: #031b29;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
}

.footer-btn:hover {
    cursor: pointer;
    background-color: black;
}

.copyrights {
    padding: 8px 16px 18px 64px;
    background-color: black;
    width: 100%;
    font-size: 12px;
    color: #828e98;
    font-weight: lighter;
}

.copyrights span {
    color: #43b0f1;
}
